.box-bleu{
    text-align: right;
    background-color:#4696e5 ;
    color:white;
    padding-right:10%;
    padding-left:10%;
    padding-top:5%;
    padding-bottom:5%;

}
.style-input{
    width: 98%;
    height: 50px;
    
}
button{
    width:70px;
    height: 50px;
    border-radius: 5px;
    background-color:#4696e5  ;
    color:white;
}
#myDIV h1{
    text-align: center;

}



